@charset "UTF-8";

html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  color: #ffffff;
  font-family: 'brigade','a-otf-ryumin-pr6n', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
}

img{
	width: 100%;
}



/*＝＝＝＝＝＝＝＝＝＝
bace
＝＝＝＝＝＝＝＝＝＝＝*/
.inner{
	width: 100%;
	box-sizing: border-box;
	padding: 0 36px;
}

.text-center{
	text-align: center;
}

.p__pc{
	display: none;
}

.section-title__en{
	font-size: 2rem;
	letter-spacing: 0.043em;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.section-title__ja{
	line-height: 1.25;
	font-size: 3.2rem;
	margin-bottom: 60px;
}

.section-subtitle{
	font-size: 2.4rem;
	margin-bottom: 17px;
}

.section__p{
	color: #ffffff;
	font-size: 1.6rem;
	letter-spacing: -0.004em;
	line-height: 1.3125;
	font-weight: lighter;
	margin-bottom: 16px;
}

.flex{
	display: flex;
}

.footer-name{
	font-size: 3.2rem;
	text-transform: uppercase;
}

.en{
	text-transform: uppercase;
}

.img__pc{
	opacity: 0;
	display: none;
}

.__br{
	display: none;
}
/*＝＝＝＝＝＝＝＝＝＝
loading animation
＝＝＝＝＝＝＝＝＝＝＝*/
#loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1.6s;
  background-color: #00123A;
  position: fixed;
  z-index: 9999;
}

.drop-water {
	position: absolute;
	top: calc(50% - 2.5vw);
	left: calc(50% - 20vw);
	transform: translateX(-50%) translateY(-50%);
  width: 40vw;
  height: 5vw;
  border: solid 2px #fff;
  border-radius: 100%;
}
.water1{
	animation: drop1 2.0s infinite ease-in-out;
}

.water2{
	animation: drop2 2.0s infinite ease-in-out;
}

.water3{
	animation: drop3 2.0s infinite ease-in-out;
}

.water4{
	animation: drop4 2.0s infinite ease-in-out;
}

@keyframes drop1 {
  0% {
    transform: scale(0);
  	box-shadow: 0 0 100px inset #3f3f3f;
  } 100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes drop2 {
  0% {
    transform: scale(0);
  	box-shadow: 0 0 100px inset #3f3f3f;
  } 100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes drop3 {
  0% {
    transform: scale(0);
  	box-shadow: 0 0 100px inset #3f3f3f;
  } 100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes drop4 {
  0% {
    transform: scale(0);
  	box-shadow: 0 0 100px inset #3f3f3f;
  } 100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}


/*＝＝＝＝＝＝＝＝＝＝
sns
＝＝＝＝＝＝＝＝＝＝＝*/
.sns{
	font-size: 3.2rem;
}

.sns-area>a{
	color: #ffffff;
}

a>.sns:first-of-type{
	margin-right: 16px;
}

a>.sns:last-of-type{
	margin-left: 16px;
}

/*＝＝＝＝＝＝＝＝＝＝
btn
＝＝＝＝＝＝＝＝＝＝＝*/

.btn{
	padding: 7px 0 2px;
	margin: 0 auto;
	border: 1px solid #ffffff;
	width: 269px;
}

.btn span{
	line-height: 1;
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
}

.btn-trigger{
	-webkit-appearance: none;
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	width: 34px;
	height: 28px;
	z-index: 50;
}

.btn-menu{
	font-family: 'brigade','a-otf-ryumin-pr6n', sans-serif;
	letter-spacing: 0.07rem;
	display: block;
	position: absolute;
	line-height: 1rem;
	color: #ffffff;
	font-size: 1rem;
	text-transform: uppercase;
	top: 15px;
}

.btn-trigger .menu{
	opacity: 1;
	transition: all 0.5s;
}

.btn-trigger .close{
	display: block;
	letter-spacing: 0.04rem;
	transition: all 0.5s;
	opacity: 0;
}

.btn-trigger.active .menu{
	opacity: 0;
}

.btn-trigger.active .close{
	font-size: 1.1rem;
	opacity: 1;
	top: 28px;
	left: -2px;
}

.btn-nav-line{
	position: absolute;
  display: block;
  width: 34px;
  height: 2px;
	border-radius: 1px;
  background-color: #ffffff;
	transition: all 0.5s;
}

.btn-nav-line:first-of-type{
	top: 0;
}

.btn-nav-line:nth-child(2){
	top: 7px;
}

.btn-trigger.active .btn-nav-line:first-of-type{
	transform: rotate(45deg) ;
	top: 9px;
}

.btn-trigger.active .btn-nav-line:nth-child(2){
	transform: rotate(-45deg) ;
	top: 9px;
}

/*＝＝＝＝＝＝＝＝＝＝
header
＝＝＝＝＝＝＝＝＝＝＝*/
.header{
	position: fixed;
	width: 100%;
	z-index: 10;
}

/*＝＝＝＝＝＝＝＝＝＝
navigation
＝＝＝＝＝＝＝＝＝＝＝*/
.header-nav{
	padding-top: 92px;
	width: 100%;
	height: 120vh;
	background-color: rgba(0,9,44,0.8);
	display: none;
}

.nav-list{
	text-align: center;
}

.nav-item{
	margin-bottom: 44px;
	height: 16px;
}

.nav-item:nth-of-type(5){
	margin-bottom: 24px;
}

.nav-item>a{
	color: #ffffff;
	font-size: 2.4rem;
	text-transform: uppercase;
}

.nav-separate{
	display: block;
	margin: 0 auto 24px;
	border: 1px solid #707070;
	width: 80%;
}

/*＝＝＝＝＝＝＝＝＝＝
container
＝＝＝＝＝＝＝＝＝＝＝*/
.container{
	position: relative;
	background: linear-gradient(#77CFE7, #002A5E);
	font-weight: 1.6rem;
	z-index: 1;
	overflow: hidden;
}

.main-container{
	width: 100%;
	position: absolute;
	padding: 80px 0;
	overflow: hidden;
}

/*＝＝＝＝＝＝＝＝＝＝
background-effect
＝＝＝＝＝＝＝＝＝＝＝*/
.background-effect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	overflow: hidden;
}

.background-effect__box{
	position: absolute;
	top: 0;
	left: 0;
}

.background-effect__img{
	opacity: 0.2;
}


/*＝＝＝＝＝＝＝＝＝＝
eyecatch
＝＝＝＝＝＝＝＝＝＝＝*/
.eyecatch{
	padding: 64px 0 48px 0;
	background-image: url(../img/top-bgi__sp.jpg);
	background-size: cover;
	background-position:center;
	overflow: hidden;
}

.eyecatch-box{
	position: relative;
}

.eyecatch-title{
	margin-bottom: 100px;
	font-size: 2.8rem;
	font-weight: lighter;
	text-transform: uppercase;
}

/*＝＝＝＝＝＝＝＝＝＝
concept
＝＝＝＝＝＝＝＝＝＝＝*/
#concept .section-title__ja{
	margin-left: -4px;
}

/*＝＝＝＝＝＝＝＝＝＝
reason
＝＝＝＝＝＝＝＝＝＝＝*/
.reason.inner{
	padding: 0;
	margin: 157px 0 112px 0;
}

.reason .flex{
	flex-shrink: 0;
	justify-content: space-between;
}

.reason-list{
	padding-left: 36px;
}

.reason-product{
	margin: 0 0 0 24px;
	width: auto;
}

.reason-product__img{
	width: auto;
}

.reason .section-title__en{
	margin-left: 36px;
}

.reason .section-title__ja{
	margin-left: 36px;
}

.section__p.last-p{
	margin-bottom: 96px;
}

.section__p.last-p:last-of-type{
	margin-bottom: 24px;
}

/*＝＝＝＝＝＝＝＝＝＝
effect
＝＝＝＝＝＝＝＝＝＝＝*/
.effect{
	background-image: url(../img/effect-bgi__sp.jpg);
	background-size: cover;
	background-position:center;
}

.effect .inner{
	padding: 80px 36px;
}

.effect .section__p:last-of-type{
	margin-bottom: 0;
}

/*＝＝＝＝＝＝＝＝＝＝
for you
＝＝＝＝＝＝＝＝＝＝＝*/
.inner.for-you{
	margin: 112px 0 176px;
	margin-top: 112px;
}

.for-you .flex{
	flex-direction: column;
}

.for-you__img{
	display: block;
	margin: 0 auto 12px;
	width: 61.8%;
}

.for-you-list{
	display: block;
	margin: 0 auto 32px;
}

.for-you .section__p{
	font-size: 2rem;
}

/*＝＝＝＝＝＝＝＝＝＝
product
＝＝＝＝＝＝＝＝＝＝＝*/
.Product__img{
	width: 26.1467%;
	height: auto;
	margin-bottom: 20px;
}

.ProdInfo .flex{
	display: block;
}

.ProdInfo .section-title__ja{
	margin-bottom: 20px;
}

.ProdInfo .name{
	margin: 0 auto 47px;
	font-size: 2.6rem;
	text-transform: uppercase;
}

.ProdInfo-detail{
	font-size: 2.4rem;
	font-weight: lighter;
}

.ProdInfo-detail:first-of-type{
	margin-right: 20px;
}

.ProdInfo-component{
	display: none;
}

.ProdInfo__text{
	margin: 0 auto;
}

.ProdInfo-text .section__p:last-of-type{
	margin-bottom: 20px;
}

.ProdInfo .btn{
	box-sizing: border-box;
	margin-top: 48px;
}

/*＝＝＝＝＝＝＝＝＝＝
footer
＝＝＝＝＝＝＝＝＝＝＝*/
.footer{
	padding: 32px 0 16px;
	background-color: #00123A;
}

.footer-name{
	margin: 0 0 32px 0;
	font-weight: lighter;
}

.footer .sns-area{
	margin: 32px 0;
}

.footer .company{
	margin-bottom: 32px;
}

@media screen and (min-width:769px){

	/*＝＝＝＝＝＝＝＝＝＝
	bace
	＝＝＝＝＝＝＝＝＝＝＝*/
	.inner{
		box-sizing: border-box;
		padding: 0 12.5%;
		margin: 96px auto;
		width: 100%;
		max-width: 1280px;
	}

	#concept.inner{
		padding-top: 184px;
		margin-top: 0;
	}

	.reason.inner{
		padding: 0 12.5% ;
		margin: 96px auto;
	}

	.effect .inner{
		padding: 96px 160px;
	}

	.inner.for-you{
		margin: 112px auto 184px;
		margin-top: 112px;
	}

	.footer.inner{
		max-width: 100%;
	}

	.p__pc{
		display: block;
	}

	.text-right{
		text-align: right;
	}

	.section-title__en{
		letter-spacing: 0.03em;
		font-size: 4.8rem;
		text-transform: uppercase;
		margin-bottom: 42px;
	}

	.section-title__ja{
		letter-spacing: 0.088em;
		line-height: 1.1388;
		font-size: 7.2rem;
		margin-bottom: 75px;
	}

	.section-subtitle{
		margin-bottom: 31px;
		font-size: 4rem;
	}

	.text-right{
	text-align: right;
}

	.section__p{
		font-size: 2rem;
		letter-spacing: 0.007em;
		line-height: 1.05;
		margin-bottom: 10px;
	}

	.img__sp{
		display: none;
	}

	.img__pc{
		opacity: 1;
		display: block;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	sns
	＝＝＝＝＝＝＝＝＝＝＝*/
	.sns{
		font-size: 5.6rem;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	btn
	＝＝＝＝＝＝＝＝＝＝＝*/

	.btn{
		padding: 7px 0 2px;
		margin: 0 auto;
		border: 1px solid #ffffff;
		width: 269px;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	container
	＝＝＝＝＝＝＝＝＝＝＝*/
	.main-container{
		width: 100%;
		position: absolute;
		padding: 0 0 0;
		overflow: hidden;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	eyecatch
	＝＝＝＝＝＝＝＝＝＝＝*/

	.eyecatch{
		background-image: url(../img/top-bgi.jpg);
		padding: 0;
	}

	.eyecatch-title{
		font-size: 6.4rem;
		margin: 64px 0 86px;
	}

	#eyecatch-img__pc{
		position: absolute;
		left: 50%;
    transform: translatex(-50%);
    width: auto;
    margin: 0 auto;
	}


	/*＝＝＝＝＝＝＝＝＝＝
	concept
	＝＝＝＝＝＝＝＝＝＝＝*/
	#concept .section-title__ja{
		margin-left: -10px;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	reason
	＝＝＝＝＝＝＝＝＝＝＝*/
	.reason .section-title__en{
		margin-left: 0;
	}

	.reason .section-title__ja{
		margin-left: 0;
	}

	.reason-list{
		padding-left: 0;
		max-width: 592px;
	}

	.reason .flex{
		padding-bottom: 48px;
	}

	.reason-product{
		margin-left: 14.7%;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	effect
	＝＝＝＝＝＝＝＝＝＝＝*/
	.effect{
		background-image: url(../img/effect-bgi__pc.jpg);
		background-position: bottom;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	for you
	＝＝＝＝＝＝＝＝＝＝＝*/
	.for-you .flex{
		flex-direction:row;
	}

	.for-you .section-title__ja{
		transform: translateX(-15px);
	}

	.for-you-list{
		margin: 0 24px 0 0;
		width: 24.5%;
		max-width: 218px;
	}

	.for-you-list:last-of-type{
		margin-right: 0;
	}

	.for-you .section__p{
		font-size: 1.8rem;
		margin-bottom: 0;
	}

	.for-you__img{
		display: block;
		width: 100%;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	ProdInfo
	＝＝＝＝＝＝＝＝＝＝＝*/
	.ProdInfo .flex{
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.ProdInfo .name{
		margin: 0px auto 107px;
		font-size: 5.2rem;
		font-weight: lighter;
		text-transform: uppercase;
	}

	.ProdInfo-text{
		margin-left: 9.1%;
		text-align: left;
		width: 54.79166%;
	}

	.ProdInfo .section-title__ja{
		margin-bottom: 15px;
		line-height: 1.2;
	}

	.ProdInfo-text .section__p:nth-child(n+3){
		margin-bottom: 88px;
	}

	.ProdInfo-component{
		display: block;
		font-size: 2.4rem;
		margin-bottom: 20px;
	}

	.Product__img{
		margin: 0 7%;
		width: auto;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	footer
	＝＝＝＝＝＝＝＝＝＝＝*/
	.footer{
		padding: 96px 0 16px;
	}

	.footer-name{
		line-height: 0.63;
		font-size: 6.4rem;
		margin-bottom: 56px;
	}
}

@media screen and (min-width: 769px) and (max-width: 941px) {
	/*＝＝＝＝＝＝＝＝＝＝
	bace
	＝＝＝＝＝＝＝＝＝＝＝*/
	.__br{
		display: block;
	}

	/*＝＝＝＝＝＝＝＝＝＝
	product
	＝＝＝＝＝＝＝＝＝＝＝*/

	.ProdInfo-text{
		margin-left: 0;
	}

	.Product__img{
		margin-right: 0;
	}
}
